<table>
  <tr *ngFor="let row of generation; let y = index">
    <td *ngFor="let col of row; let x = index" [ngClass]="{'live':col}" (click)="toggle([y,x]); draw([y,x])"></td>
  </tr>
</table>
<div class="ctrl">
  <div class="ctrl-gr">Generations: {{ genCnt }} <br><br><hr><br></div>
  <div class="ctrl-gr">
    Random: <br>
    <input #range  title="Random Range"
           type="range" min="-0.9"
           max="-0.50" step="0.1"
           [(ngModel)]="randomRange"
           style="padding: 1rem 0">
    <br>
    <button (click)="random()">generate {{ range.value*(-1) }}</button>
  </div>
  <br><hr><br>
  <div class="ctrl-gr">
    Speed <br>
    <input title="Speed Range"
           type="range" min="-1000"
           max="-100" step="100"
           [(ngModel)]="speed"
           (change)="isPlay? start() : false"
           style="padding: 1rem 0">
    <br>

    <ng-container *ngIf="isPlay; else play ">
      <button (click)="stop()">stop</button>
    </ng-container>

    <ng-template #play>
      <button (click)="start()" [disabled] = "isPlay || isClear" >start</button>
    </ng-template>

    <button (click)="next()" [disabled] = "isPlay || isClear" style="margin-left: 1rem">next</button>
  </div>
  <div class="ctrl-gr">
    <br><br>
    <button (click)="clear()" [disabled] = "isClear">clear</button>
  </div>
</div>